<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>add</title>
  </head>
  <body>
    <h1>Add form</h1>
    <form method="post">
        <label>name</label>
          <input type="text" name="name" value="">
        <br>

        <label>yob</label>
          <input type="text" name="yob" value="">
        <br>

        <label>phone</label>
          <input type="text" name="phone" value="">
        <br>

          <input type="radio" name="gender" value= 'male'  checked >Male<br>
          <input type="radio" name="gender" value= 'female' >Female<br>

          <input type="submit" name="" value="submit">
      </form>
  </body>
</html>
